

body{
	border: 5px solid #00ff00;
	background-color: #000000;
	color: #00ff00;
	font-family: chiller;
	margin: 0;
	text-align: center;
	}

	#intro-box{
		width: 50%;
		margin-left: 25%;
		font-size: 2em;
		border: #00ff00 0.1em solid;
		padding: 5px;
	}

	#menu{
		width: 50%;
		margin-left: 25%;
		font-size: 2em;
		border: #00ff00 0.1em solid;
		padding: 5px;
	}

	#menu p{
		margin:auto;
	}

 .mainGame{
	 display: grid;
	 grid-template-columns: 1fr 2fr 1fr;
	 font-size: 2em;
	 position: absolute;
	 width: 100%;
	 grid-auto-rows: auto;

	 top: 50%;

 }

 .mainGame > div{
	 border: #00ff00 0.1em solid;
 }
